.card:not(:hover) img {
    transform: scale(0.8, 0.8);
    transition-duration: 1500ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0.8;
    filter: grayscale(50%);
}

.card-image-wrapper {
    position: relative;
}

.btn {
    padding: 1rem;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: -10%;
    right: -10%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-image-wrapper:hover .member-icons {
    bottom: 0;
opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}